In [1]:
from sqlalchemy import create_engine, MetaData
import pandas as pd

engine = create_engine("mysql+pymysql://root:root@localhost:3306/pi_i")

conn = engine.connect()

In [ ]:
circuit = pd.DataFrame(pd.read_csv('./models/Datasets/circuits.csv'))
circuit

In [ ]:
constructor = pd.DataFrame(pd.read_json('./models/Datasets/constructors.json', lines=True))
constructor

In [ ]:
driver = pd.DataFrame(pd.read_json('./models/Datasets/drivers.json', lines=True))
name = pd.DataFrame(list(driver['name'].values))
driver['name'] = name.forename + ' ' + name.surname
driver

In [ ]:
pit_stop= pd.DataFrame(pd.read_json('./models/Datasets/pit_stops.json'))
pit_stop

In [ ]:
result = pd.DataFrame(pd.read_json('./models/Datasets/results.json', lines=True))
result

In [ ]:
race = pd.DataFrame(pd.read_csv('./models/Datasets/races.csv'))
race

In [75]:
circuits = circuit.to_sql(con = engine, name='circuit', if_exists='replace', index=False)
constructor.to_sql(con = engine, name='constructor', if_exists='replace', index=False)
driver.to_sql(con = engine, name='driver', if_exists='replace', index=False)
pit_stop.to_sql(con = engine, name='pit_stop', if_exists='replace', index=False)
race.to_sql(con = engine, name='race', if_exists='replace', index=False)
result.to_sql(con = engine, name='result', if_exists='replace', index=False)

24960

In [39]:
import requests
import pandas as pd

def get_datos(datos):
    url = 'http://localhost:8000/' + datos
    response = requests.get(url)
    df = pd.DataFrame(response.json())
    return df

# Obtencion de las tabas para realizar las consultas
# Las guardo como variables globales 
circuit = get_datos('circuit')
constructor = get_datos('constructor')
driver = get_datos('driver')
pit_stop = get_datos('pit_stop')
race = get_datos('race')
result = get_datos('result')

In [40]:
def anioMasCarreras():
    agrupados = race.groupby(['year']).count()
    max = agrupados.raceId.max()
    anio_max = agrupados.raceId.idxmax()

    return print(f'El año con más carreras fue {anio_max} con {max} carreras en total')
anioMasCarreras()

El año con más carreras fue 2021 con 23 carreras en total

In [ ]:
result

In [58]:
def pilotoPrimerPuesto():
    resultados_totales = pd.merge(result, driver, how='left', on='driverId')[['resultId','position', 'name']]
    nombre = resultados_totales[resultados_totales.position==1].groupby('name').count()['position'].idxmax()
    titulos = resultados_totales[resultados_totales.position==1].groupby('name').count()['position'].max()
    return print(f'El piloto con mayor cantidad de titulos es {nombre} con {titulos} titulos en total.')
pilotoPrimerPuesto()

El piloto con mayor cantidad de titulos es Lewis Hamilton con 95 titulos en total.

In [99]:
def circuitoMax():
    circuitos_id = pd.merge(result, race, how='left', on='raceId')[['raceId', 'circuitId']]
    circuitos_nombre = pd.merge(circuitos_id, circuit, how='left', on='circuitId')[['raceId', 'name']]
    circuitos_nombre.drop_duplicates(inplace=True)
    num_carreras = circuitos_nombre.groupby('name').count()['raceId'].max()
    circuito = circuitos_nombre.groupby('name').count()['raceId'].idxmax()
    return print(f'El circuito mas corrido es {circuito} con un total de {num_carreras} carreras realizadas.')
circuitoMax()

El circuito mas corrido es Autodromo Nazionale di Monza con un total de 70 carreras realizadas.

In [114]:
constructores = pd.merge(result, constructor, how='left', on='constructorId')[['driverId', 'constructorId','points','name', 'nationality']]
BriAm = constructores[constructores.nationality.isin(['British', 'American'])]
BriAm.groupby(by=['driverId', 'nationality']).sum()

                      constructorId  points
driverId nationality
1        British                110   913.0
2        British                 42    28.0
3        British                210    75.5
4        British                 95   241.0
5        British                451    75.0
...                             ...     ...
846      British                 38   146.0
847      British                111     0.0
849      British                 51     0.0
850      American               420     0.0
851      British                  3     0.0

[647 rows x 2 columns]